- set_meta_tags(title: "Starter Story is an Open Startup")

%head
  %script{:src => "https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.7.3/Chart.min.js"}


.answer
  %canvas#myChart

.answer
  %canvas#myChart2

.answer
  %canvas#myChart3

:javascript
  var ctx = document.getElementById('myChart').getContext('2d');
  var chart = new Chart(ctx, {
      // The type of chart we want to create
      type: 'line',

      // The data for our dataset
      data: {
          labels: #{raw @days},
          datasets: [{
              label: "Users Added",
              backgroundColor: 'black',
              borderColor: 'black',
              data: #{@values},
          }]
      },

      // Configuration options go here
      options: {}
  });

  var ctx = document.getElementById('myChart2').getContext('2d');
  var chart = new Chart(ctx, {
      // The type of chart we want to create
      type: 'line',

      // The data for our dataset
      data: {
          labels: #{raw @posts_days},
          datasets: [{
              label: "Posts created",
              backgroundColor: 'black',
              borderColor: 'black',
              data: #{@posts_values},
          }]
      },

      // Configuration options go here
      options: {}
  });

  var ctx = document.getElementById('myChart3').getContext('2d');
  var chart = new Chart(ctx, {
      // The type of chart we want to create
      type: 'line',

      // The data for our dataset
      data: {
          labels: #{raw @published_posts_days},
          datasets: [{
              label: "Posts published",
              backgroundColor: 'black',
              borderColor: 'black',
              data: #{@published_posts_values},
          }]
      },

      // Configuration options go here
      options: {}
  });
