- home = custom_domain? ? "/" : "/#{user.username}"

.index-bio
  .index-bio__left
    = link_to home do
      - if user.avatar.present?
        = image_tag(user.avatar.url)
      - else
        = image_tag(Avatar.new(user.email).get&.gsub(/\/s\d+/, '/s128'))
    - if user.instagram.present?
      = link_to "https://instagram.com/#{user.instagram}" do
        = fa_icon "instagram"
      = link_to "https://twitter.com/#{user.twitter}" do
        = fa_icon "twitter"
  .index-bio__right
    .name
      = link_to user.name, home
    .bio= user.bio
    - if editable?(user)
      .edit= link_to("edit bio", profile_path)
