.index-bio
  .index-bio__left
    = image_tag(Avatar.new(user.email).get)
    - if user.instagram.present?
      = link_to "https://instagram.com/#{user.instagram}" do
        = fa_icon "instagram"
      = link_to "https://twitter.com/#{user.twitter}" do
        = fa_icon "twitter"
  .index-bio__right
    %h4= user.name
    .bio= user.bio
    - if editable?(user)
      .edit= link_to("edit", profile_path)
