- set_meta_tags_for_index(@user)

.page.index
  .content
    .index-bio
      .index-bio__left
        %h1= @user.name
        %h4= @user.bio
      .index-bio__right
        = image_tag(Avatar.new(@user.email).get)

  .posts
    - @posts.published.each do |post|
      .content
        .post
          .date
            = post.published&.strftime("%m/%d/%Y")
          = link_to(post.title, "#{@user.username}/#{post.id}")
