- set_meta_tags_for_index(@user)

.page.index
  .content
    = render "bio", user: @user

  .posts
    - @posts.published.each do |post|
      .content
        .post
          .date
            = post.published&.strftime("%m/%d/%Y")
          = link_to(post.title, "#{@user.username}/#{post.id}")
