- set_meta_tags_for_index(@user)

.page.index
  .content
    = render "bio", user: @user

  .posts
    .content
      - @posts.published.each do |post|
        .post
          .date
            = post.published&.strftime("%B #{post.published&.day&.ordinalize}, %Y")
          = link_to(post.title, "#{@user.username}/#{post.slug}")
