- set_meta_tags_for_post(@post)

.page
  .content
    .bio
      .bio-left
        = image_tag(Avatar.new(@user.email).get)
      .bio-right
        .name= @user.name
        .bio-description= @user.bio
        .published= @post.published
    .article
      .header
        %h1= @post.title
      = raw @parsed.html_safe
