:ruby
  set_meta_tags(title: "Editing #{@post.title}")

.page.edit
  .upper-nav
    .nav-left
      = form_tag(post_path(@post), method: "PATCH") do
        .input-group
          .input-group-prepend
            %span.input-group-text Title
          = text_field(:post, :title, class: "form-control title", placeholder: "Title")
          .input-group-prepend
            %span.input-group-text Publish Date
          = date_field(:post, :published, class: "form-control date", placeholder: "Published Date")
          = submit_tag("Update", class: "btn btn-primary")
    .nav-right
      .dropdown
        %a#dropdownMenuLink.btn.btn-secondary.dropdown-toggle{"aria-expanded" => "false", "aria-haspopup" => "true", "data-toggle" => "dropdown", :href => "#", :role => "button"}
          Options
        .dropdown-menu{"aria-labelledby" => "dropdownMenuLink"}
          = link_to "View Draft", "/#{current_user.username}/#{@post.slug}", target: "_blank", class: "dropdown-item"
          = link_to "Pop Out Google Doc", "https://docs.google.com/document/d/#{@post.google_doc}/edit", target: "_blank", class: "dropdown-item"
      - if @post.is_published
        = link_to "Unpublish", post_unpublish_path(@post.id), method: :post, class: 'btn btn-primary publish'
      - else
        = link_to "Publish", post_publish_path(@post.id), method: :post, class: 'btn btn-primary publish'
  .gdoc-editor
    %iframe{:src => "https://docs.google.com/document/d/#{@post.google_doc}/edit"}
