= form_tag(post_path(@post), method: "PATCH") do
  = label_tag(:title, "Title")
  = text_field(:post, :title)
  = label_tag(:date, "Published")
  = date_field(:post, :published)
  = submit_tag("Update")
