- logo_path = current_user ? user_root_path : root_path

%header.header
  .container-lrg.header
    .flex.col-12.spread
      = link_to("Create A Blog With Google Docs", logo_path)
      - if current_user
        .links
          = link_to("My Blog", "/#{current_user.username}")
          = link_to("Sign Out", destroy_user_session_path, method: :delete)
      - else
        = link_to("Sign In", new_user_session_url)
