!!!
%html
  %head
    %meta{content: "text/html; charset=UTF-8", "http-equiv" => "Content-Type"}/
    %meta{content: "width=device-width, initial-scale=1", name: "viewport" }/
    %meta{ name: "google-site-verification", content: "M-Hm1or75hJNqJOAuz6s_JYmY_AoKYR1gtnXlIdV7fw"}/
    = display_meta_tags
    %title Ydnw
    = csrf_meta_tags
    = csp_meta_tag
    = stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload'
    = javascript_include_tag 'application', 'data-turbolinks-track': 'reload'
    - if content_for? :customized_emoji
      = yield :customized_emoji
    - else
      %link{:href => "https://emojipedia-us.s3.dualstack.us-west-1.amazonaws.com/thumbs/240/apple/155/writing-hand_270d.png", :rel => "icon"}
    - if current_user
      :javascript
        (function(d, h, m){
            var js, fjs = d.getElementsByTagName(h)[0];
            if (d.getElementById(m)){return;}
            js = d.createElement(h); js.id = m;
            js.onload = function(){
                window.makerWidgetComInit({
                position: "left",
                widget: "jriplihz6ik21iik-yo8oekcx9p47oc0q-j32rpsdvj6msgsol"
            })};
            js.src = "https://makerwidget.com/js/embed.js";
            fjs.parentNode.insertBefore(js, fjs)
        }(document, "script", "dhm"))
    - if Rails.env.production?
      %script{:async => "", :src => "https://www.googletagmanager.com/gtag/js?id=UA-75503228-5"}
      :javascript
        window.dataLayer = window.dataLayer || [];
        function gtag(){dataLayer.push(arguments);}
        gtag('js', new Date());

        gtag('config', 'UA-75503228-5');

  %body
    .font-modern
      .gray-black
        = render "layouts/header"
        - flash.each do |key, value|
          = content_tag :div, value, class: "alert alert-info"
        .midsection{ style: "min-height:80vh;"}
          = yield
        -# = render "layouts/footer"
