!!!
%html
  %head
    %meta{content: "text/html; charset=UTF-8", "http-equiv" => "Content-Type"}/
    %meta{content: "width=device-width, initial-scale=1", name: "viewport" }/
    %meta{ name: "google-site-verification", content: "M-Hm1or75hJNqJOAuz6s_JYmY_AoKYR1gtnXlIdV7fw"}/
    = display_meta_tags
    %title Ydnw
    = csrf_meta_tags
    = csp_meta_tag
    = stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload'
    = javascript_include_tag 'application', 'data-turbolinks-track': 'reload'
    - if Rails.env.production?
      %script{:async => "", :src => "https://www.googletagmanager.com/gtag/js?id=UA-75503228-5"}
      :javascript
        window.dataLayer = window.dataLayer || [];
        function gtag(){dataLayer.push(arguments);}
        gtag('js', new Date());

        gtag('config', 'UA-75503228-5');

  %body
    .font-modern
      .gray-black
        = render "layouts/header"
        - flash.each do |key, value|
          = content_tag :div, value, class: "alert alert-info"
        .midsection{ style: "min-height:80vh;"}
          = yield
        -# = render "layouts/footer"
