!!!
%html
  %head
    %meta{content: "text/html; charset=UTF-8", "http-equiv" => "Content-Type"}/
    %meta{content: "width=device-width, initial-scale=1", name: "viewport" }/
    %title Ydnw
    = csrf_meta_tags
    = csp_meta_tag
    = stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload'
    = javascript_include_tag 'application', 'data-turbolinks-track': 'reload'
    %link{:href => "https://fonts.googleapis.com/css?family=Lora", :rel => "stylesheet"}/
  %body
    .font-modern
      .gray-black
        = render "layouts/header"
        - flash.each do |key, value|
          = content_tag :div, value, class: "alert alert-info"
        = yield
        = render "layouts/footer"
